 <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active">
            	<a class="tit" href="{:url('home/index')}"><img src="/static/admin/img/nav_02.png"> 首页<span class="sr-only">(current)</span></a>
            </li>
            <li><img src="/static/admin/img/nav_03.png"><a href="{:url('Mcompany/index')}">公司模块展示</a></li>
            <li><img src="/static/admin/img/nav_03.png"><a href="{:url('Mproduct/index')}">产品模块展示</a></li>
            <li><img src="/static/admin/img/nav_03.png"><a href="{:url('Mrecruit/index')}">招聘模块展示</a></li>
            <li class="add"><img src="/static/admin/img/nav_06.png"><a href="{:url('add/index')}">新增模块</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active">
            	<img src="">
            	<a class="tit" href="#"><img src="/static/admin/img/nav_07.png">公司<span class="sr-only">(current)</span></a>
            </li>
            <li><a href="{:url('company/index')}">公司简介</a></li>
            <li><a href="{:url('activity/allist')}">活动</a></li>
            <li><a href="{:url('Activityhead/index')}">活动头部</a></li>
            <li class="add"><img src="/static/admin/img/nav_06.png"><a href="{:url('add/index')}">新增模块</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active">
            	<a class="tit" href="#"><img src="/static/admin/img/nav_11.png">产品<span class="sr-only">(current)</span></a>
            </li>
            <li><a href="{:url('hcity/index')}">实体门店</a></li>
            <li><a href="{:url('online/index')}">线上产品</a></li>
            <li><a href="{:url('show/index')}">线下产品</a></li>
          </ul>
           <ul class="nav nav-sidebar">
            <li class="active">
            	<a class="tit" href="#"><img src="/static/admin/img/nav_13.png">招聘<span class="sr-only">(current)</span></a>
            </li>
            <li><a href="{:url('Carousel/index')}">基本展示</a></li>
            <li><a href="{:url('recruit/index')}">职位</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active">
            	<a class="tit" href="#"><img src="/static/admin/img/nav_14.png">其他参数<span class="sr-only">(current)</span></a>
            </li>
            <li><a href="{:url('index/index')}">菜单功能</a></li>
            <li><a href="{:url('search/index')}">搜索功能</a></li>
            <li><a href="{:url('friend/index')}">友情链接</a></li>
            <li><a href="{:url('guide/index')}">引导页面</a></li>
            <li><a href="{:url('background/index')}">页面背景</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active">
            	<a class="tit" href="#"><img src="/static/admin/img/nav_18.png">系统设置<span class="sr-only">(current)</span></a>
            </li>
            <li><a href="{:url('role/index')}">角色权限</a></li>
            <li><a href="{:url('Weblog/index')}">操作日志</a></li>
           <!--  <li><a href="{:url('help/index')}">技术帮助</a></li> -->
            <li><a href="{:url('clear/index')}">图片缓存清理</a></li>
            <li><a href="{:url('admin/logout')}">退出</a></li>
          </ul>
        </div>