{include file="public/head" title="话梅" keywords="话梅管理系统"}
{load href="/static/assets/css/amazeui.min.css"}
	{load href="/static/assets/css/app.css"}

    <div class="tpl-page-container tpl-page-header-fixed">
     
		{include file="public/left"}



        <div class="tpl-content-wrapper">
          
            <div class="tpl-portlet-components">
           
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal" action="{:url('role/add')}" enctype="multipart/form-data" method="post">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">姓名 / Name</label>
                                    <div class="am-u-sm-9">
										 <input type="text" id="user-name" placeholder="姓名 / Name" name="name" value="">
                                        <small>输入角色名字。</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">邮箱 / Email</label>
                                    <div class="am-u-sm-9">
                                         <input type="text" id="user-name" placeholder="邮箱 / Email" name="email" value="">
                                        <small>输入邮箱。</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">密码 / Passwd</label>
                                    <div class="am-u-sm-9">
                                         <input type="password" id="user-name" placeholder="密码 / Passwd" name="passwd" value="">
                                        <small>输入密码。</small>
                                    </div>
                                </div>
                 
                                <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">商品 / Goods</label>
                                    <div class="am-u-sm-9">
                                      <div class="am-form-group">
									
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="Goods_add" name="goods[]" data-am-ucheck> 添加
										  </label>
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="Goods_edit" name="goods[]" data-am-ucheck> 编辑
										  </label>
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="Goods_del" name="goods[]" data-am-ucheck> 删除
										  </label>
										  	  <label class="am-checkbox-inline">
											<input type="checkbox"  value="Goods_index" name="goods[]" data-am-ucheck> 列表
										  </label>
										</div>
                                    </div>
                                </div>
								
								 <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">公司 / Company</label>
                                    <div class="am-u-sm-9">
                                      <div class="am-form-group">
										 
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="Company_add" name="company[]" data-am-ucheck> 添加
										  </label>
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="Company_edit" name="company[]" data-am-ucheck> 编辑
										  </label>
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="Company_del" name="company[]" data-am-ucheck> 删除
										  </label>
										   <label class="am-checkbox-inline">
											<input type="checkbox"  value="Company_index" name="company[]" data-am-ucheck> 列表
										  </label>
										</div>
                                    </div>
                                </div>
								
								<div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">招聘 / Substance</label>
                                    <div class="am-u-sm-9">
                                      <div class="am-form-group">
										
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="Substance_add" name="substance[]" data-am-ucheck> 添加
										  </label>
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="Substance_edit" name="substance[]" data-am-ucheck> 编辑
										  </label>
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="Substance_del" name="substance[]" data-am-ucheck> 删除
										  </label>
										    <label class="am-checkbox-inline">
											<input type="checkbox"  value="Substance_index" name="substance[]" data-am-ucheck> 列表
										  </label>
										</div>
                                    </div>
                                </div>

									<div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">用户 / User</label>
                                    <div class="am-u-sm-9">
                                      <div class="am-form-group">
										 
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="User_add" name="user[]" data-am-ucheck> 添加
										  </label>
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="User_edit" name="user[]" data-am-ucheck> 编辑
										  </label>
										  <label class="am-checkbox-inline">
											<input type="checkbox"  value="User_del" name="user[]" data-am-ucheck> 删除
										  </label>
										   <label class="am-checkbox-inline">
											<input type="checkbox"  value="User_index" name="user[]" data-am-ucheck> 列表
										  </label>
										</div>
                                    </div>
                                </div>

                        

                         
                   

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>










        </div>

    </div>


  <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
</body>

</html>