{include file="public/header" title="话梅" keywords="话梅管理系统"}

    <div class="tpl-page-container tpl-page-header-fixed">

{include file="public/left"}

        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                话梅美妆
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">话梅美妆</a></li>
                <li class="am-active">背景图片列表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 背景图片列表
                    </div>
				
          <!--           <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" name="search" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div> -->
					

                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span><a href="{:url('background/add')}"> 新增</a></button>
                                </div>
                            </div>
                        </div>
            
                        <div class="am-u-sm-12 am-u-md-3">
							<form class="am-form" action="{:url('town/tabulate')}" method="post">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field" name="search">
                                <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="submit"></button>
          </span>
                            </div>
							</form>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                            <th class="table-id">ID</th>
                                            <th class="table-title">模块</th>
                                            <th class="table-type">背景图片</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
									{volist name="data" id="vo"}
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>{$vo.id}</td>
                                            <td>{if condition="$vo.module eq '1'"} 产品模块{elseif condition="$vo.module eq '2'" /} 公司模块{elseif condition="$vo.module eq '3'" /} 活动模块{elseif condition="$vo.module eq '4'" /} 首页模块{elseif condition="$vo.module eq '5'" /} 招聘模块{else /}公司其它活动模块{/if}</td>
                                            <td><img src="/uploads/{$vo.bg_img}" width="60px" height="30px"></td>
                                       
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> <a href="{$Think.server.script_name}/index/background/edit/id={$vo.id}"> 编辑</a></button>
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span><a href="{$Think.server.script_name}/index/background/delete/id={$vo.id}">  删除</a></button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
									{/volist}
								
                                
                                    </tbody>
                                </table>
                                <div class="am-cf">

                                    <div class="am-fr">
                                     <!--    <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul> -->
										{$data->render()}
                                    </div>
                                </div>
                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>










        </div>

    </div>


      <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
</body>

</html>