{include file="public/head" title="话梅管理系统"}
    <div class="container-fluid">
      <div class="row">
       {include file="public/left"}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		 <form class="am-form tpl-form-line-form" action="{:url('background/mm')}" enctype="multipart/form-data" method="post">
         	<div class="nav_html">
         		<ul>
         			<li>
         				<div class="nav_top">
         					<div class="left">
         						 <a class="navbar-brand" href="#">公司</a>
         					</div>
         					<div class="right">
         						<ul class="nav navbar-nav navbar-right">
						            <li class="edit"><button href="#" class="btn btn-primary button_edit" type="submit">编辑</button></li>
						            <li><a href="#" style="font-size: 20px;">|</a></li>
									<li><button type="submit" class="btn btn-primary button_saved" id="upload_id"
										> 保存
									</button></li>
						        </ul>
         					</div>
         				</div>
         				<div class="nav_bottom">
         					<ul>
         						<li>+模块名称</li>
         						<li><input type="text" value="页面背景" name="module"> </li>
         						<li>* 文字内容不超过6个字符</li>
								<input type="hidden" name="id" value="{$data.id}">
         					</ul>
         				</div>
         			</li>
         			<li>
         				<div class="nav_top content">
         					<div class="left">
         						 <a class="" href="#">
								<img src="/static/admin/img/nav_09.png" width="20">
         						 <span>背景专题选项</span></a>
         					</div>
         					<div class="right">
         						<img src="/static/admin/img/nav_08.png">
         					</div>

         				</div>
         				<div class="bottom">
         						<button type="button" class="btn btn-primary module " 
								   	data-toggle="button"> 
                                    首页背景
								</button>
								<button type="button" class="btn btn-primary module " 
								   	data-toggle="button" name="company" value="company1"> 公司背景
								</button>
								<button type="button" class="btn btn-primary module " 
                                    data-toggle="button" name="company1" value="activity1"> 活动背景
                                </button>
                                <button type="button" class="btn btn-primary module " 
                                    data-toggle="button" name="company2" value="product1"> 产品背景
                                </button>
                                <button type="button" class="btn btn-primary module " 
                                    data-toggle="button" name="company3" value="job1"> 招聘背景
                                </button>

         				</div>
         			</li>
         			<li>
         				<div class="upload_top">
	         				<img src="/static/admin/img/nav_12.png" width="20">
	         				<span>图标上传</span>
         				</div>
         				<div class="upload_bottom">
         					<div>
         						<input type="text">
							     <button type="button" class="btn btn-default" id="filePicker">上传文件</button>
         					</div>
         					<div>
         						<a><div id="fileList" class="uploader-list">
									<input type="hidden" name="icon" value="{$data.bg_img}"> 
        </div><img src="/uploads/{$data.bg_img}" width="246" height="117"></a>
							    <span>预览图  50*150像素</span>
         					</div>
         					<div>
         					<button type="submit" class="btn btn-primary saved" 
								   	> 保存
								</button>
							</div>
         				</div>
         			</li>
         			
         			
         		</ul>
         	</div>
			</form>
        </div>
      </div>
    </div>

    

	<script type="text/javascript">
	$(function(){
			$(".button_saved").css("display","none");
		})
		var $list=$("#fileList");   //这几个初始化全局的百度文档上没说明，好蛋疼
           var thumbnailWidth = 100;   //缩略图高度和宽度 （单位是像素），当宽高度是0~1的时候，是按照百分比计算，具体可以看api文档  
           var thumbnailHeight = 100;  
           var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
           auto: true,
            // swf文件路径
           swf: '/static/admin/webuploader/uploader.swf', //加载swf文件，路径一定要对
            // 文件接收服务端。
            server: '/index.php/admin/background/mm',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/'
            }
        });
      //上传完成事件监听
        uploader.on( 'fileQueued', function(file) {
				$(".button_saved").css("display","block");
			$(".button_edit").css("display","none");
            var $li = $(
                    '<div id="' + file.id + '" class="file-item thumbnail">' +
                        '<img width="281" height="380">' +
                        '<div class="info">' + file.name + '</div>' +
                    '</div>'
                    ),
                $img = $li.find('img');
            // $list为容器jQuery实例
				//alert($li.html());
                   $list.append( $li );
            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }
                $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );
        });
		
		$(function(){
			$(".module").click(function(){
				var name=$(this).text();
				$(this).click(function(){
					$.ajax({
					  method: "POST",
					  url: "/index.php/admin/background/mm",
					  data: { name: name }
					}).done(function( msg ) {
					  alert( "Data Saved: " + msg );
					});
				
			});
			})
		})
		
		
		
</script>
  </body>
</html>