{include file="public/head" title="话梅管理系统"}
	   <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/admin.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.4.6.0.css">
    <script src="/static/assets/js/echarts.min.js"></script>

    <div class="tpl-page-container tpl-page-header-fixed">


     	{include file="public/left"}





        <div class="tpl-content-wrapper">
      

            <div class="row">
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="am-icon-comments-o"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {$pv} </div>
                            <div class="desc"> PV浏览量 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat red">
                        <div class="visual">
                            <i class="am-icon-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {$PC} </div>
                            <div class="desc"> PC访问 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat green">
                        <div class="visual">
                            <i class="am-icon-apple"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {$iphone} </div>
                            <div class="desc"> 苹果设备 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat purple">
                        <div class="visual">
                            <i class="am-icon-android"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {$android} </div>
                            <div class="desc"> 安卓设备 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
				<input type="hidden" name="mobile" id="mobile" value="11">
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="am-u-md-6 am-u-sm-12 row-mb" style="width:100%">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-green ">
                                <i class="am-icon-cloud-download"></i>
                                <span> Cloud 数据统计</span>
                            </div>
                            <div class="actions">
                                <ul class="actions-btn">
                                    <li class="red-on yesterday">昨天</li>
                                    <li class="green today">今天</li>
                                    <li class="blue week">本周</li>
                                </ul>
                            </div>
                        </div>

                        <!--此部分数据请在 js文件夹下中的 app.js 中的 “百度图表A” 处修改数据 插件使用的是 百度echarts-->
                      <!--  <div id="main" style="width: 600px;height:400px;"></div> -->
						
						 <div class="tpl-echarts" id="main" style="width:1600px;height:400px;">
                        </div>
                        </div>
                    </div>
                </div>
          
            </div>


            <div class="row">
           
    
            </div>



        </div>

    </div>
	
	<script type="text/javascript">

var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");

var browser = navigator.userAgent.toLowerCase(); 

var isMobile = false; 

var s;

for (var i=0; i<mobileAgent.length; i++){ if (browser.indexOf(mobileAgent[i])!=-1){ isMobile = true; 

mobileAgent[i];



break; } } 

</script>

<script type="text/javascript">
            var  option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['浏览量','折线']
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: ['周一','周二','周三','周四','周五','周六']
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '访问量/click',
                            min: 0,
                            max: 2000,
                            interval: 500,
                            axisLabel: {
                                formatter: '{value} '
                            }
                        }
                    ],
                    series: [
                         
                        {
                            name:'访问量',
                            type:'bar',
                            /*itemStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#fe6262'},
                                            {offset: 0.5, color: '#fe4141'},
                                            {offset: 1, color: '#fe1818'}
                                        ]
                                    ),
                                },
                                emphasis: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#fe6262'},
                                            {offset: 0.5, color: '#fe4141'},
                                            {offset: 1, color: '#fe1818'}
                                        ]
                                    )
                                }
                            },*/
                            
                            /*设置柱状图颜色*/
                            itemStyle: {
                                normal: {
                                    color: function(params) {
                                        // build a color map as your need.
                                        var colorList = [
                                          '#fe4f4f','#fead33','#feca2b','#fef728','#c5ee4a',
                                           '#87ee4a','#46eda9','#47e4ed','#4bbbee','#7646d8',
                                           '#924ae2','#C6E579','#F4E001','#F0805A','#26C0C0'
                                        ];
                                        return colorList[params.dataIndex]
                                    },
                                    /*信息显示方式*/
                                    label: {
                                        show: true,
                                        position: 'top',
                                        formatter: '{b}\n{c}'
                                    }
                                }
                            },
                            data:{$paylist}
                        },
                        {
                            name:'折线',
                            type:'line',
                            itemStyle : {  /*设置折线颜色*/
                                normal : {
                                   /* color:'#c4cddc'*/
                                }
                            },
                            data:{$paylist}
                        }
                    ]
            };
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option); 
        </script>


	<!-- <script type="text/javascript">
	
	
		var myChart = echarts.init(document.getElementById('main'));
		
		var option = {
			title :{
				text :'访问量报表'
			},
			tooltip:{
				  trigger: 'axis'
			},
			legend:{
				data:['浏览量']
			},
			xAxis:{
				 data: ["周一","周二","周三","周四","周五","周六"]
			},
			yAxis:{},
			series:[{
				name:'浏览量',
				type:'bar',
				data:{$paylist}
			}]
		};
		
		myChart.setOption(option);
	</script> -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/iscroll.js"></script>
   <script type="text/javascript">
	$(".yesterday").click(function(){
		$(this).text({$yesterdaysum});
	})
	$(".today").click(function(){
		$(this).text({$todaysum});
	})
	$(".week").click(function(){
		$(this).text({$Thisweeksum});
	})
   </script>
</body>

</html>