
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                话梅美妆 列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                      <!--   <a href="{:url('index/index')}" class="nav-link active">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a> -->
						 <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">
                            <i class="am-icon-table"></i>
                            <span>首页</span>
                            <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
						  <!--   <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                               
                                <a href="{:url('Activity/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>添加产品模块</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul> -->
						<!--    <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                
                                <a href="{:url('Corporation/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>添加公司模块</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul> -->
						<!--    <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                              
                                <a href="{:url('Talented/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>添加招聘模块</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul> -->
						<!--    <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                               
                                <a href="{:url('Other/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>添加其他模块</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul> -->
						<!-- 	<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                               
                                <a href="{:url('Elseother/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>添加其他模块二</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul> -->
								<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('Index/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>首页</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
								<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('All/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>所有模块</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
					<!-- 			<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                
                                <a href="{:url('Othermoduleone/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>其它模块一</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
									<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                             
                                <a href="{:url('Othermoduletwo/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>其它模块二</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						 -->
											<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('background/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>背景图片替换</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
                    </li>
					
					 <li class="tpl-left-nav-item">
                        <!-- 打开状态 a 标签添加 active 即可   -->
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>公司模块</span>
                            <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('company/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>公司简介</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
						  <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('company/huodong')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>公司活动</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
						<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('second/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>其它公司活动</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
				<!-- 		<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                              
                                <a href="{:url('company/headlist')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>活动头部</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
							<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                               
                                <a href="{:url('company/detail_head')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>活动详情头部</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul> -->
						
						
                    </li>


                    <li class="tpl-left-nav-item">
                        <!-- 打开状态 a 标签添加 active 即可   -->
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">
                            <i class="am-icon-table"></i>
                            <span>店铺</span>
                            <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                       	  <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('hcity/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>实体店列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
							  <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('Goods/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>线上产品</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
							  <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('town/tabulate')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>店铺列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
						 <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('test/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>头部列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
							
                    </li>
					
					
					
					 <li class="tpl-left-nav-item">
                        <!-- 打开状态 a 标签添加 active 即可   -->
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>招聘模块</span>
                            <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
						<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('substance/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>人才招聘</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
                       
                    </li>
						
					 <li class="tpl-left-nav-item">
                        <!-- 打开状态 a 标签添加 active 即可   -->
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>运营</span>
                            <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                      <!--   <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                              
                                <a href="{:url('user/user_list')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul> -->
						     <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('manager/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>管理员列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
						     <ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('town/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>城市列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
						
							<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('job/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>招聘分类列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
						<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('role/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>角色列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
						<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('weixin/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>微信分享</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
							<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('map/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>电子地图(定位)</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
						<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('search/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>搜索</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
						<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('friend/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>友情链接列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
						
						<ul class="tpl-left-nav-sub-menu" style="display:block">
                            <li>
                                <!-- 打开状态 a 标签添加 active 即可   -->
                                <a href="{:url('Weblog/index')}" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>操作日志</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                            </li>
                        </ul>
				
						  
                    </li>
				

                    <li class="tpl-left-nav-item">
                        <a href="{:url('admin/index')}" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-key"></i>
                            <span>退出</span>

                        </a>
                    </li>
                </ul>
            </div>
        </div>