{include file="public/header" title="话梅" keywords="话梅管理系统"}

    <div class="tpl-page-container tpl-page-header-fixed">

{include file="public/left"}

        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                话梅美妆
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">话梅美妆</a></li>
                <li class="am-active">其他模块列表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 添加其他模块列表
                    </div>
					

                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span><a href="{:url('other/add')}"> 新增</a></button>
                                </div>
                            </div>
                        </div>
                     <!--    <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                                <select data-am-selected="{btnSize: 'sm'}">
              <option value="option1">所有类别</option>
              <option value="option2">IT业界</option>
              <option value="option3">数码产品</option>
              <option value="option3">笔记本电脑</option>
              <option value="option3">平板电脑</option>
              <option value="option3">只能手机</option>
              <option value="option3">超极本</option>
            </select>
                            </div>
                        </div> -->
                        <div class="am-u-sm-12 am-u-md-3">
						<form class="am-form" action="{:url('other/index')}" method="post">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field" name="search">
                                <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="submit"></button>
          </span>
                            </div>
							</form>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                            <th class="table-id">ID</th>
                                            <th class="table-title">标题</th>
                                            <th class="table-type">副标题</th>
                                            <th class="table-author am-hide-sm-only">图片</th>
                                            <th class="table-date am-hide-sm-only">修改日期</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
									{volist name="data" id="vo"}
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>{$vo.id}</td>
                                            <td><a href="#">{$vo.title}</a></td>
                                            <td>{$vo.vice_heading}</td>
                                            <td class="am-hide-sm-only"><img src="/uploads/{$vo.img}" alt="" width="60px" height="30px"></td>
                                            <td class="am-hide-sm-only">{$vo.add_time|date="y-m-d",###}</td>
                                          
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> <a href="{$Think.server.script_name}/index/other/edit/id={$vo.id}"> 编辑</a></button>
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span><a href="{$Think.server.script_name}/index/other/delete/id={$vo.id}"> 删除</a></button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                            
                                 {/volist}
                                
                                    </tbody>
                                </table>
                                <div class="am-cf">

                                    <div class="am-fr">
                             
										{$data->render()}
                                    </div>
                                </div>
                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>










        </div>

    </div>


    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
</body>

</html>